@import "./src/styles/config";

.link-primary {
  text-decoration: none !important;
  display: inline-block;
  background: color("gold");
  border: to-rem(2px) solid color("gold");
  color: color("coal");
  padding: to-rem(14px) to-rem(28px);
  font-size: to-rem(16px);
  text-align: center;
  min-width: to-rem(230px);
  border-radius: to-rem(30px);
  transition: $transition-base;

  @include hover-focus {
    background: transparent;
    color: color("white");
  }
}
